    <footer>
      <div class="redes-sociales">
          <a href="">
            <i class="fa-brands fa-square-whatsapp"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          
          
          
      </div>
    
      <p>&copy; 2023 MRA Luxury Cars. Todos los derechos reservados. | Diseñado por Matias Rojas y Thomas Rodiguez</p>
    </footer>