    <footer>
      <div class="redes-sociales">
          <a href="https://www.whatsapp.com" target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
      </div>
      <hr>
      
      <div class="enlaces-footer">
        <div>
          <h6>Sobre nosotros</h6>
          <a href="/">Historia</a>
          <a href="/">Contacto</a>
          <a href="/">Colaborar</a>
        </div>
        <div>
          <h6>Legalidad y Confianza</h6>
          <a href="/">Politicas y Privacidad</a>
          <a href="/">Terminos y Servicio</a>
          
        </div>
        <div>
          <h6>Enlaces Rapidos</h6>
          <a href="/">Inicio</a>
          <a href="/">Marcas</a>
          <a href="#seccion-destacados">Destacado</a>
          <a href="/">Nuevo</a>
          <a href="#seccion-categorias">Categorias</a>
          <a href="/">Catalogo</a>
        </div>
      </div>

      <p>&copy; 2023 MRA Luxury Cars. Todos los derechos reservados. | Diseñado por Matias Rojas y Thomas Rodiguez</p>
    </footer>