<header>
  <div class="header-content">
        <div class="logo-container">
            <a href="/">
                <img src="/images/mra_logo_bien.png" alt="MRA Logo" class="logo">
            </a>
        </div>
      
        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars" id="bar-btn"></i>
        </div>
        <div class="nav-bar">
            <a href="/">Inicio</a>
            <a href="/#seccion-destacados">Destacados</a>
            <a href="">Cuenta</a>
            <a href="/login">Iniciar Sesion</a>
        </div>
      
  </div>
  <script src="/js/script.js"></script>
</header>

