<section class="marcas">
    <div class="slider">
      <div class="marcas-slider">
        <div class="slide">
          <img src="/images/marcas/acura-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/bmw-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/bugatti-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/buick-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/daewoo-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/dodge-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/ferrari-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/ford-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/gmc-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/honda-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/kia-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/lexus-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/mclaren-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/mercury-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/nissan-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/oldsmobile-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/subaru-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/suzuki-logo.svg"" alt="">
        </div>

        <div class="slide">
          <img src="/images/marcas/acura-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/bmw-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/bugatti-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/buick-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/daewoo-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/dodge-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/ferrari-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/ford-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/gmc-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/honda-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/kia-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/lexus-logo.svg" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/mclaren-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/mercury-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/nissan-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/oldsmobile-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/subaru-logo.svg"" alt="">
        </div>
        <div class="slide">
          <img src="/images/marcas/suzuki-logo.svg"" alt="">
        </div>
      </div>
    </div>
  </section>