<!DOCTYPE html>
<html>

<head>
    <title>Detalle</title>
</head>

<body>
    <!-- detalle.ejs -->
    <h1>Detalles del Producto<%= productoVehiculo.nombre%>
    </h1>
    <!-- Mostrar más detalles del producto aquí -->
    <p>
        <%= productoVehiculo.detalle %>
    </p>

    <!--  <img src="ruta/a/la/imagen.jpg" alt="Imagen de presentación"> -->



    <button>
        <a href="/products/carrito" class="comprar">Comprar</a>
    </button>
</body>

</html>