
<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/79028e5814.js" crossorigin="anonymous"></script>
        <title>MRA Luxury Cars</title>
        
        <!--Fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
      </head>
      <body>
</head>
<body>
    
    <%- include("partials/header.ejs") %>

    <main class="detalle-producto-main">
        <section class="info">
            <div class="imagen">
                <img src="/images/marcas/bmw-logo.svg" alt="">
            </div>
            <div class="info-producto">
                <h2>Nombre Producto</h2>
                <p>$ PRECIO</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio quaerat pariatur non asperiores, iste dolorum et dolore ad dicta facere velit magni reprehenderit officia facilis iusto ipsa incidunt minima.</p>
                
                <div class="botones">
                    <a class="boton" href="producto/editar">Editar</a>
                    <form action="/products/delete/id?_method=DELETE" method="POST">
                        <button type="submit" class="boton-borrar">Eliminar</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("partials/footer.ejs") %>
</body>
</html>
