
<!DOCTYPE html>
<html>
<head>
    <title>Detalle</title>
</head>
<body>
    <h1>Presentación</h1>
    <p>  
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
        numquam totam repudiandae ea modi dicta nulla odit perferendis quidem autem beatae commodi dignissimos
        , corrupti provident praesentium consequuntur nobis explicabo consequatur.</p>
        
    <img src="ruta/a/la/imagen.jpg" alt="Imagen de presentación">
    <!-- Aquí puedes agregar más contenido -->

    <button>
        <a href="/products/carrito" class="comprar">Comprar</a>
    </button>
</body>
</html>
