<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/79028e5814.js" crossorigin="anonymous"></script>
        <title>MRA Luxury Cars</title>
        
        <!--Fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
      </head>
      <body>
</head>
<body>
    <h1>Editando producto </h1>
    <main>
        <div>
            <img src="" alt="">
        </div>
        <div class="info-producto">
            <form action="/updateProducto" method="post">
                <div class="mb-3">
                    <label for="product-name" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="product-name" name="product-name">
                </div>
                <div class="mb-3">
                    <label for="product-price" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="product-price" name="product-price">
                </div>
                <div class="mb-3">
                    <label for="product-description" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="product-description" name="product-description" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-3">
                    
                </button>
            </form>
        </div>
    </main>
    
</body>
</html>