<!DOCTYPE html>
<html>
<head>
  <title>Nombre de la página</title>
</head>
<body>
  

  
  <main>
    <h1>Hola soy index</h1>
    <a href="/products/subirProducto"><button>Agregar Producto Nuevo</button></a>
    <!-- Aquí puedes agregar el contenido principal de tu página -->
  </main>

  <footer>
    <!-- Aquí puedes agregar el pie de página -->
  </footer>
</body>
</html>
</body>
</html>
