<!DOCTYPE html>
<html>
<head>
  <title>MRA Luxury Cars</title>
</head>
<body>
  <header>
    
  </header>

  
  <main>
    <h1>Hola soy index</h1>
    <!-- Aquí puedes agregar el contenido principal de tu página -->
  </main>

  <footer>
    <!-- Aquí puedes agregar el pie de página -->
  </footer>
</body>
</html>
</body>
</html>
