<!-- FILEPATH: /c:/Users/Thomas/Desktop/express/practica/views/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79028e5814.js" crossorigin="anonymous"></script>
    <title>MRA Luxury Cars</title>
    
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&family=Roboto&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms-styles.css">
  </head>

  <body>

    <%- include("partials/header.ejs") %>
    
    <main>

      <div class="form-container">

        <h1>Iniciar Sesión</h1>
        
        <form action="" method="POST">
          <div class="input-container">
            <label for="mail">Usuario</label> 
            <input type="mail" id="mail" name="mail" placeholder="Ingrese su correo" required >
          </div>
          <div class="input-container">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
          </div>
          <br>
          <button type="submit">Iniciar sesión</button>
          <br>
          <p><a href="/register">¿No tienes cuenta? Registrate ahora</a></p>
        </form>

      </div>

    </main>
  </body>
</html>
