<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  
  <table>
    <div><a href="/products/detalle">
      <img src="imagen1.jpg" alt="Producto 1">
      <h3>Producto 1</h3>
      <p>Precio: $10.00</p>
      <p>Disponibilidad: Disponible</p>
    </a>
    </div>
    <div><a href="/products/detalle">
      <img src="imagen2.jpg" alt="Producto 1">
      <h3>Producto 2</h3>
      <p>Precio: $10.00</p>
      <p>Disponibilidad: Disponible</p>
    </a>
    </div>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
  <a href="products/subirProducto"><button>Agregar Producto Nuevo</button></a>
</body>
</html>
