*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --blanco: #F5F5F5; /* Blanco Humo */
    --negro-azulado: #18171c; /* Negro Azulado */
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    height: 10vh;
}

.logo, .logo img{
    height: 100%;
    padding: 3px;
}

.logo{
    width: 35%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    width: 100%;
}
.menu-hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px ;
    font-size: 30px;
}

body{
    background-color: var(--negro-azulado);
}

.promos-slider{
    background-color: var(--blanco);
    margin: 10px auto;
    width: 70vw;
    height: 30vh;
}

/*slider de Marcas*/
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .marcas-slider{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: scroll 80s linear infinite;
    -webkit-animation: scroll 80s linear infinite;
    width: calc(100px * 36);
}

.slider .slide img{
    width: 100%;
    padding: 5px 0;
}

@keyframes scroll {
    0% {
        webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100px*18));
        transform: translateX(calc(-100px*18));
    }
}

.marcas{
    background-color: var(--blanco);
}





/* Seccion de Autos */
.autos, .destacados{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--blanco);
}

.card{
    padding: 5px;
}


.card .card-imagen{
    height: 25%;
}
.card .card-imagen img{
    height: 100%;
}

.titulo-seccion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.detalle-producto-main{
    background-color: var(--blanco);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.detalle-producto-main .info{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.info .imagen{
    width: 65%;
}

.info .imagen img{
    width: 100%;
}

.botones{
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    gap: 5px;
    justify-content: end;
}

.boton, .boton-borrar{
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px;
    background-color: var(--negro-azulado);
}

.boton-borrar:hover{
    cursor: pointer;
}

.boton-borrar{
    background-color: red;
}

footer{
    background-color: var(--blanco);
}

.redes-sociales{
    color: var(--negro-azulado);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales a{
    color: var(--negro-azulado);
    margin: 10px;
}

footer p{
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: gray;
}